# TUGAS 1

**TOPIK DATA**

Data Keberangkatan Angkutan Bus Lebaran Dari Terminal Utama Tahun 2015

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
dataset_url="https://raw.githubusercontent.com/FirdatulFitriyah/datamining/main/keberangkatan-angkutan-bus-lebaran-dari-terminal-utama-tahun-2015.csv"
p=pd.read_csv(dataset_url, index_col=0)

In [ ]:
p

           hari_ops         terminal  jumlah_bus_regular  jumlah_penumpang_bus
tanggal
05/07/2015   H - 12  TB Kp. Rambutan                 384                   768
06/07/2015   H - 11  TB Kp. Rambutan                 362                   841
07/07/2015   H - 10  TB Kp. Rambutan                 363                   847
08/07/2015    H - 9  TB Kp. Rambutan                 382                   887
09/07/2015    H - 8  TB Kp. Rambutan                 392                   911
...             ...              ...                 ...                   ...
24/07/2015    H + 6     TB Kalideres                 273                  1144
25/07/2015    H + 7     TB Kalideres                 310                  1387
26/07/2015    H + 8     TB Kalideres                 330                  1506
27/07/2015    H + 9     TB Kalideres                 273                  1134
28/07/2015   H + 10     TB Kalideres                 132                   510

[72 rows x 4 columns]

In [ ]:
def diss(x,y):
  a = 4
  b = 0
  for col in ["hari_ops", "terminal", "jumlah_bus_regular", "jumlah__penumpang_bus", "tanggal"	]:
    if p[col][x] == p[col][y]:
      b+=1
    return (a-b)/a

In [ ]:
print(diss(1,1))

0.75

In [ ]:
p.describe()

       jumlah_bus_regular  jumlah_penumpang_bus
count           72.000000             72.000000
mean           272.722222           2237.458333
std            148.065481           2412.871750
min              0.000000              0.000000
25%            122.500000            837.250000
50%            281.500000           1374.500000
75%            420.000000           2276.000000
max            485.000000          11785.000000

In [ ]:
#normalisasi jumlah_bus_regular
count_jbr = 72.000000
mean_jbr = 272.722222
for col1 in ["jumlah_bus_regular"]:
    p1 = p[col1]
    hasil1 = (p1-mean_jbr)/count_jbr
    print(hasil1)

#normalisasi jumlah_penumpang_bus
count_jpb = 72.000000	
mean_jpb = 2237.458333
for col2 in ["jumlah_penumpang_bus"]:
    p2 = p[col2]
    hasil2 = (p2-mean_jpb)/count_jpb
    print(hasil2)

tanggal
05/07/2015    1.545525
06/07/2015    1.239969
07/07/2015    1.253858
08/07/2015    1.517747
09/07/2015    1.656636
                ...
24/07/2015    0.003858
25/07/2015    0.517747
26/07/2015    0.795525
27/07/2015    0.003858
28/07/2015   -1.954475
Name: jumlah_bus_regular, Length: 72, dtype: float64
tanggal
05/07/2015   -20.409144
06/07/2015   -19.395255
07/07/2015   -19.311921
08/07/2015   -18.756366
09/07/2015   -18.423032
                ...
24/07/2015   -15.186921
25/07/2015   -11.811921
26/07/2015   -10.159144
27/07/2015   -15.325810
28/07/2015   -23.992477
Name: jumlah_penumpang_bus, Length: 72, dtype: float64

In [ ]:
# Menghitung jarak data Numeric dengan cara Euclidean
def num_p(a,b,c):
    result = 0
    for col in [hasil1, hasil2]:
        result = math.pow(abs(col[a] - col[b]), c)
    return result**(1/c)

In [ ]:
print(num_p(1,2,2))
print(num_p(1,3,2))
print(num_p(1,4,2))

0.08333333333333215
0.6388888888888893
0.9722222222222214

**SIMILARITY**

Similarity adalah menemukan hubungan antara dua kelompok data yang bergantung pada waktu, berdasarkan tingkat kemiripan pola yang ditunjukkan data tersebut. Jadi tujuannya mencari kemunculan semua sequence yang mirip dengan sekuen yang diberikan, dalam suatu time-series basis data. Tidak seperti query basis data pada umumnya yang mencari data sama persis seperti yang diberikan dalam query. Similarity search adalah mencari data.

In [ ]:
print("Jarak d(1,2) =", diss(1,2)+num_p(1,2,2))

Jarak d(1,2) = 1.0833333333333321

In [ ]:
print("Jarak d(1,2) =", diss(1,3)+num_p(1,3,3))

Jarak d(1,2) = 1.6388888888888893

In [ ]:
print("Jarak d(1,2) =", diss(1,4)+num_p(1,4,4))

Jarak d(1,2) = 1.9722222222222214